{% extends "base.html" %}
{% load static %}

{% block titulo %}
Detalhe da Arte | {{ block.super }}
{% endblock %}

{% block conteudo %}


<div class="container wow fadeInUp">
    <div class="row">
        <div class="col-md-12">
        <br>
            <h3 class="section-title">Detalhe da imagem</h3>
            <div class="section-title-divider"></div>
            <form class="align-center">
            </form>
            <img class="img-fluid img-thumbnail rounded float-left" src="{{Artes.imagem_principal.url}}" alt="" width="750" hspace="15"/>
            <h3><b>Nome da Arte:</b></h3><h2>{{ Artes.descricao }}</h2>
            <h3><b>Data de Cadastro:</b></h3><h2>{{ Artes.dataCadastro }}</h2>
            <h3><b>Autor:</b></h3><h2>{{ Artes.email }}</h2>
            <h3><b>Preço:</b></h3><h2>{{ Artes.preco }}</h2>
            <button type="button" class="btn btn-danger btn-lg btn-block">Adicionar ao Carrinho</button>
        </div>
    </div>
</div>

​{% endblock %}