{% extends "base.html" %}
{% load static %}

{% block titulo %}
Detalhe da Arte | {{ block.super }}
{% endblock %}

{% block conteudo %}

<section id="portfolio">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <br>
        <h3 class="section-title">Detalhe da imagem</h3>
        <div class="section-title-divider"></div>
        <form class="align-center"></form>
        <img class="img-fluid img-thumbnail rounded float-left" src="{{artes.imagem_principal.url}}" alt="" width="700" hspace="15"/>
        <h3><b>Nome da Arte:</b></h3><h2>{{ artes.descricao }}</h2>
        <h3><b>Data de Cadastro:</b></h3><h2>{{ artes.dataCadastro }}</h2>
        <h3><b>Autor:</b></h3><h2>{{ artes.email }}</h2>
        <h3><b>Preço:</b></h3><h2>{{ artes.preco }} </h2>
        <button type="button" class="btn btn-danger">Adicionar ao Carrinho</button>
      </div>
    </div>
  </div>
</section>
​{% endblock %}
