{% extends "base.html" %}
{% load static %}

{% block titulo %}
Detalhe da Arte | {{ block.super }}
{% endblock %}

{% block conteudo %}


<div class="container">​
    <div class="row mt">
​​    </div><!-- col-lg-8 -->​​
​	<div class="col-lg-4">
	<img src="arte.png" width="80%" height="80%"><br/><br/>​
	</div>
        <div class="col-lg-8">
        <h1>Nome da Arte</h1>
        <hr>
        <h3><b>DESCRIÇÃO</b></h3>
        <p>Descrição da Arte.</p>
        <br>
        <h3><b>AUTOR</b></h3>
        <p>Nome</p>
        <p>Perfil</p>
        <br>
        
       
​</div>
</div>
</div>
​​
    

​{% endblock %}