{% extends "base.html" %}
{% load static%}

{% block titulo %}
Meu Carrinho | {{ block.super }}
{% endblock %}

{% block conteudo %}

<section id="team">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Meu Carrinho</h3>
        <div class="section-title-divider"></div>
      </div>
    </div>
    ​​
    {% for artes in request.session.artes %}

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="pic"><a href ="{% url 'arte_detalhes' %}?id={{artes.0}}"><img src="{{artes.3}}" width="200" hspace="15"/></a></div>
        </div>

        <div class="col-md-5">
          <h4><b>Nome da Arte:</b></h4><h2> {{ artes.1 }}</h2>
          <h4><b>Preço:</b></h4><h2>R$ {{ artes.2 }}</h2>
        </div>

        <div class="col-md-3">
          <a href="{% url 'carrinho' %}?op=remover&id={{artes.0}}"><button type="button" class= "btn btn-danger" role="button">Remover <i class="fas fa-trash"></i></button></a>
        </div>
      </div>
    </div>
    {% empty %}
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3> Não há artes no Carrinho! </h3>
          </div>
        </div>
      </div>

    {% endfor %}

    <div class="container">
          <div class="row">
            
            <div class="col-md-6">
              <div><h2>Total: R$ {{ total }}</h2></div>
            </div>

            <div class="col-md-3">
              <a href="#"><button type="button" class= "btn btn-primary" role="button"><i class="fas fa-angle-double-left"></i> Comprar mais</button></a>
            </div>

            <div class="col-md-3">
              <a href="#"><button type="button" class= "btn btn-success" role="button">Finalizar compra <i class="fas fa-shopping-cart"></i></button></a>
            </div>

          </div>
        </div>
      ​</div>
    </div>
    ​​

    ​{% endblock %}
  </div>
</section>
    <!--falta configurar urls.py e views.py-->
