{% extends "base.html" %}
{% load static%}

{% block titulo %}
Meu Carrinho | {{ block.super }}
{% endblock %}

{% block conteudo %}

<section id="team">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Meu Carrinho</h3>
        <div class="section-title-divider"></div>
      </div>
    </div>
    ​​
      
        <h3><b>Remover</b></h3>
      </div>
      <!--br/-->
    </div>

    {% for A1 in Artes %}

    <div class="container">
      <div class="col-md-8">

        <h4><b>Nome da Arte:</b></h4><h2>{{ A1.descricao }}</h2>
        <h4><b>Preço:</b></h4><h2>{{ A1.preco }}</h2>
      </div>
      <div class="col-md-4">
        <hr><a href="#"<button type="button" class= "btn btn-danger">Remover</button></a></hr>
      </div>
      <br/>
    </div>

    total += A1.preco
    {% endfor %}

    <div class="container">
      <div class="row mt">
        <div class="col-md-8">

          <right><hr><h3><b>Total:</b></h3><h1>{{ total }}</h1></hr></right>
        </div>
      </div>
    </div>
      ​</div>
    </div>
    ​​

    ​{% endblock %}

    <!--falta configurar urls.py e views.py-->
