{% extends "base.html" %}
{% load static %}

{% block titulo %}
Identificação e Pagamento | {{ block.super }}
{% endblock %}

{% block conteudo %}

<section id="portfolio">

    

    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Identificação</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Verifique se os dados abaixo estão corretos</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div><!--Utilizado para centralizar a segunda DIV-->
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput" desable><span>Nome</span></label><br>
                        <label class="col-form-label" for="formGroupExampleInput" desable><h4>{{ usuario.nome }}</h4></label>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput" desable><span>Email</span></label><br>
                        <label class="col-form-label" for="formGroupExampleInput" desable><h4>{{ usuario.email }}</h4></label>
                    </div>
                    <div class="member">
                        <p align="right"><a href="{% url 'editarDadosPessoais' %}" class="btn btn-outline-danger" role="button" aria-pressed="true"> Editar </a>
                        <a href="#" class="btn btn-outline-secondary" role="button" aria-pressed="true"> Seguir </a></p>
                    </div>
                </form>       
            </div>
            <div class="col-md-4"></div><!--Utilizado para centralizar a segunda DIV-->
        </div>
    </div>

    
    
</section>

​{% endblock %}
        


    <!--<div class="row">

        
        <div class="Identificacao">
            <div class="topo_identificacao">
                <legend><a class="editar" href="{% url 'editarDadosPessoais' %}">Editar</a>Dados Pessoais</legend>
            </div>
            <div class="aviso_Identificação">
                <p align="justify"><strong>ATENÇÃO:</strong> Verifique se os dados abaixo estão corretos. Se houver algo de errado, por favor, click na opção <strong>Editar</strong> disponível no canto superior direito desta seção, caso contrário siga para a próxima seção.</p>
            </div>
            <div class="list-dadosPessoais">
                <ul class="dados_pessoais">
                    <li><strong>Nome</strong>: </li>
                    <li><strong>CPF</strong>: </li>
                    <li><strong>Telefone</strong>: </li>
                    <li><strong>Email</strong>: </li>
                </ul>
            </div>
        </div>-->
        <!--<div class="col-md-12">
            <br>
            <h3 class="section-title">Pagamento</h3>
            <div class="section-title-divider"></div>
            <hr/>
        </div>
        <legend>Cupom de Desconto</legend>
        <p>Você pode aproveitar ainda mais as artes disponíveis no <strong>Quiosque Online</strong> utilizando um cupom de desconto caso o vendedor tenha fornecido. Se desejar, entre em contato com o mesmo para saber a existência de algum cupom.</p>

        <form class="cupom" action="" method="">
            <label>Cupom: </label>
            <input type="text" name="cupom_desconto" size="6" maxlength="6"> 
        </form>
        <h6>Fica a cargo do vendedor fornecer ou não um desconto para essa venda</h6>
        

        <legend>Formas de Pagamento</legend>

            <dl>
                <dt>
                    <input type="radio" name="pagamento" value="boletoBancario" Class="boletoBancario">
                    <img src="{% static 'img/boleto3.jpg' %}"> Pague o Boleto Bancario via xxxxx <br />
                </dt>
            </dl>
            <dl>
                <dt>
                    <input type="radio" name="pagamento" value="cartaoCredito" Class="cartaoCredito" href="#collapseCartaoCredito" data-toggle="collapse">
                    <img src="{% static 'img/cartao.png' %}"> Pague com o cartão de crédito
                </dt>
            </dl>
            <div class="collapse" id="collapseCartaoCredito">
                <div class="card card-body">
                    
                </div>
            </div>-->                   


                
              <!--
              
              
              <span>Email</span>
              <h4>jordevalucas@hotmail.com</h4>-->

