{% extends "base.html" %}
{% load static %}

{% block titulo %}
Detalhe da Arte | {{ block.super }}
{% endblock %}

{% block conteudo %}

<h1 class="centered">Dados Pessoais</h1><br />
<hr/>
<div class="container">​
    <div class="row mt">
        <!-- Para concluir, conferir site da gearbest -->
        <legend><a class="editar" href="{% url 'edit_dados_pessoais' %}">Editar</a>Dados Pessoais</legend>
        <ul class="dados_pessoais">
            <li><strong>Nome</strong>: </li>
            <li><strong>CPF</strong>: </li>
            <li><strong>Telefone</strong>: </li>
            <li><strong>Email</strong>: </li>
        </ul>
        <legend>Dados de Pagamento</legend>
    </div>
</div>


​{% endblock %}