{% extends "base.html" %}
{% load static %}

{% block titulo %}
Editar Arte | {{ block.super }}
{% endblock %}

{% block conteudo %}


<section id="portfolio">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <br>
        <h3 class="section-title">Editar</h3>
        <div class="section-title-divider"></div>
      </div>
      <div class="col-md-12">
        <img class="img-fluid img-thumbnail rounded float-left" src="{{arte.imagem_principal.url}}" alt="{{arte.descricao}}" width="700" hspace="15"/>
        <form action="{% url 'editarte' %}" method="post" >
          {% csrf_token %}

          <div class="form-group">
            <h3><b>Nome</b></h3>
            <p>{{formEditArte.descricao}}</p>
          </div>
          <div class="form-group">
            <h3><b>Preço</b></h3>
            <p>{{formEditArte.preco}}</p>
          </div>
          {% if arte.id %}
          <input type="hidden" name="id" value="{{ arte.id }}" />
          {% endif %}
          <p><input type="submit" value="Enviar" /></p>
        </form>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</section>

​​

​{% endblock %}
