{% extends "base.html" %}
{% load static %}

{% block titulo %}
Detalhe da Arte | {{ block.super }}
{% endblock %}

{% block conteudo %}

<section id="portfolio">

    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
              <h3 class="section-title">Editar Dados</h3>
              <div class="section-title-divider"></div>
              <p class="section-description"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div> <!--Utilizado para centralizar a segunda DIV-->
            <div class="col-md-4">
                <form action="{% url 'editdadospessoais' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_first_name"><b>Nome</b></label>
                        <input type="text" class="form-control" name="first_name" maxlength="30" id="id_first_name" autofocus placeholder="{{ user.first_name }}" />
                    </div>
                    <div class="form-group">
                        <label for="id_last_name"><b>Sobrenome</b></label>
                        <input type="text" class="form-control" name="last_name" maxlength="30" id="id_last_name" placeholder="{{ user.last_name }}"/>
                    </div>
                    <div class="form-group">
                        <label for="id_email"><b>Email</b></label>
                        <input type="email" class="form-control" name="email" maxlength="254" id="id_email" placeholder="{{ user.email }}"/>
                    </div>
                    <div class="form-group">
                        <label for="id_cpfCnpj"><b>CPF</b></label>
                        <input type="text" class="form-control" name="cpfCnpj" maxlength="11" id="id_cpfCnpj" required placeholder="{{ usuario.cpfCnpj }}"/>
                    </div>
                    <div class="form-group">
                        <label for="id_username"><b>Usuário</b></label>
                        <input type="text" class="form-control" name="username" maxlength="150" id="id_username" required placeholder="{{ user }}"/>
                    </div>
                    <!--<div class="form-group">
                        <label for="id_password1"><b>Senha</b></label>
                        <input type="password" class="form-control" name="password1" id="id_password1" required placeholder="Senha"/>
                    </div>
                    <div class="form-group">
                        <label for="id_password2"><b>Confirmar Senha</b></label>
                        <input type="password" class="form-control" name="password2" id="id_password2" required placeholder="Confirmar Senha"/>
                    </div>-->
                    <p align="right"><a href="#" role="button" aria-pressed="true"><input type="submit" name="registro" class="btn btn-outline-danger" value="Salvar alterações"></a></p>
                </form>      
            </div>
            <div class="col-md-4"></div><!--Utilizado para centralizar a segunda DIV-->
        </div>
  </div>
</section>


​{% endblock %}
