{% extends "base.html" %}
{% load static%}

{% block titulo %}
Enviar Arte | {{ block.super }}
{% endblock %}

{% block conteudo %}
<section id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="section-title">Adicionar uma nova Arte</h3>
				<div class="section-title-divider"></div>
			</div>
		</div>

		<div class="row mt">


			{% for field in formArte %}
			{% if field.errors %}
			<div class="alert alert-danger">
				<p>{{ field.label }}:	{{ field.errors }}</p>
			</div>
			{% endif %}
			{% endfor %}


			<form action="{% url 'enviarArte' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}

				<h4><b>Nome da arte</b></h4>
				<p>{{formArte.descricao}}</p>
				<h4><b>{{formArte.preco.label}}</b></h4>
				<p>{{formArte.preco}}</p>
				<h4><b>{{formArte.imagem_principal.label}}</b></h4>
				<p>{{formArte.imagem_principal}}</p>
				<h4><b>{{formArte.categoria.label}}</b></h4>
				<p>{{formArte.categoria}}</p>
				<input class = "btn btn-danger" type="submit" value="Enviar" />
			</form>

		</div>
	</div>
</section>
{% endblock %}
