{% extends "base.html" %}
{% load static%}

{% block titulo %}
Enviar Arte | {{ block.super }}
{% endblock %}

{% block conteudo %}
<section id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="section-title">Adicionar uma nova Arte</h3>
				<div class="section-title-divider"></div>
			</div>
		</div>

		<div class="row mt">


			{% for field in formArte %}
			{% if field.errors %}
			<div class="alert alert-danger">
				<p>{{ field.label }}:	{{ field.errors }}</p>
			</div>
			{% endif %}
			{% endfor %}
			<form action="{% url 'enviarArte' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group">
					<label for="id_descricao"><b>NOME DA ARTE</b></label>
					<input type="text" class="form-control" name="descricao" id="id_descricao" maxlength="100" placeholder="Nome da arte">
				</div>
				<div class="form-group">
					<label for="id_preco"><b>VALOR</b></label>
					<input type="number" class="form-control" name="preco" id="id_preco" step="any" placeholder="Valor da arte">
				</div>
				<div class="form-group">
					<label for="id_imagem_principal"><b>ARQUIVO DA IMAGEM</b></label>
					<input type="file" class="form-control-file" name="imagem_principal" id="id_imagem_principal" placeholder="Valor da arte">
				</div>
				<div class="form-group">
					<label for="id_categoria"><b>CATEGORIA DA IMAGEM</b></label>
					<select class="form-control" name="categoria" id="id_categoria">
						<option value="">Escolha uma categoria</option>
						{% for cat in categorias %}
						<option value="{{cat.id}}">{{cat.categoria}}</option>
						{% endfor %}
					</select>
				</div>
				<input class = "btn btn-danger" type="submit" value="Enviar" />
			</form>

		</div>
	</div>
</section>
{% endblock %}
