{% extends "base.html" %}
{% load static %}

{% block titulo %}
Identificação | {{ block.super }}
{% endblock %}

{% block conteudo %}

<section id="portfolio">

    

    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Identificação</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Verifique se os dados abaixo estão corretos</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div><!--Utilizado para centralizar a segunda DIV-->
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput" desable><span>Nome</span></label><br>
                        <label class="col-form-label" for="formGroupExampleInput" desable><h4>{{ user }}</h4></label>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput" desable><span>Email</span></label><br>
                        <label class="col-form-label" for="formGroupExampleInput" desable><h4>{{ user.email }}</h4></label>
                    </div>
                    <div class="member">
                        <p align="right"><a href="{% url 'editdadospessoais' %}" class="btn btn-outline-danger" role="button" aria-pressed="true"> Editar </a>
                        <a href="#portfolio.class2" class="btn btn-outline-secondary" role="button" aria-pressed="true"> Seguir </a></p>
                    </div>
                </form>       
            </div>
            <div class="col-md-4"></div><!--Utilizado para centralizar a segunda DIV-->
        </div>
    </div>

    
    
</section>
<section id="portfolio" class="class2">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Formas de Pagemento</h3>
                <div class="section-title-divider"></div>
                <p class="section-description"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div><!--Utilizado para centralizar a segunda DIV-->
            <div class="col-md-4">

                <div id="container" data-children=".form-group"><br/>
                    <div class="form-group">
                        
                        <label data-toggle="collapse" data-parent="#container" href="#collapseOne"  aria-expanded="false" aria-controls="collapseOne">
                        <h4 class="service-title"><i class="fas fa-barcode fa-sm"></i> Boleto Bancário </h4></label>
                        
                    
                        <div id="collapseOne" class="collapse" role="tabpanel">
                            <div class="well">
                                <p align="right"><a href="#" class="btn btn-outline-danger" role="button" aria-pressed="true"> Finalizar Compra </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <label data-toggle="collapse" data-parent="#container" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h4 class="service-title"><i class="fas fa-credit-card fa-sm"></i> Cartão de Crédito </h4></label>
                        
                        <div id="collapseTwo" class="collapse" role="tabpanel">
                            {% for field in form %}
                                {% if field.errors %}
                                    <div class="alert alert-danger">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}       
                            {% endfor %}

                            <form action="{% url 'finalizarcompra' %}" method="post">
                                {% csrf_token %}

                                <p>{{form.numero.label}}: {{form.numero}}</p>
                                <p>{{form.codSeguranca.label}}: {{form.codSeguranca}} </p>
                                <p>{{form.nomeCartao.label}}: {{form.nomeCartao}} </p>
                                <p>{{form.dataValidade.label}}: {{form.dataValidade}} </p>
                                <input type = "text" id = "currency"/> 

                                <p align="right"><input class="btn btn-outline-danger" role="button" aria-pressed="true" type="submit" value="Finalizar Compra" /></p>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4"></div><!--Utilizado para centralizar a segunda DIV-->
        </div>
    </div>

</section>
​{% endblock %}
