{% extends "base.html" %}
{% load static%}

{% block titulo %}
Minhas Artes | {{ block.super }}
{% endblock %}

{% block conteudo %}

<div class="container">
	<div class="row mt">

		<h1>Bem-vindo, {{usuario.nome}}</h1>
		
	</div>

	<legend><a class="enviarArte" href="{% url 'enviarArte' %}">Enviar arte</a></legend>

	{% for arte in artes %}
	<div class="row mt">
		<div class="col-md-3">
			<img class="img-responsive" src="{{arte.imagem_principal.url}}" alt="" width="300" />
			<h3>{{arte.descricao}}</h3>
			<button type="button" class="btn btn-outline-danger	"><i class="fa fa-trash"></i>Excluir</button>
			<a href="{% url 'editarArte' %}?id={{arte.id}}" class="btn-services" >Editar</a>
			<br/>

		</div>
	</div>
</div>
	{% empty %}
	<p>Nenhuma arte cadastrada</p>
	{% endfor %}
</div>

{% endblock %}