{% extends "base.html" %}
{% load static%}
{% block titulo %}
Página Inicial | {{ block.super }}
{% endblock %}
{% block conteudo %}
<section id="hero">
	<div class="hero-container">
		<div class="wow fadeIn">
			<div class="hero-logo">
				<img class="" src="{% static '/img/logo.png' %}" alt="Quiosque" width="300px">
			</div>

			<h1>Bem vindo ao QUIOSQUE ONLINE</h1>
			<h2>Faça seu Cadastro ou Login</h2>
			<div class="actions">
				<a href="#" class="btn-get-started" data-toggle="modal" data-target="#register-modal">FAZER CADASTRO</a>
				<a href="#" class="btn-services" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">LOGIN</a>
			</div>
		</div>
	</div>
</section>

<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content loginmodal-container">
			<h1>
				Crie sua conta
			</h1>
			<div class="section-title-divider"></div>
			<br>
				<form action="​{% url 'index' %}​" method="post">
			{% csrf_token %}
				{{form2.nome.label}}:<br/> {{form2.nome}}​
				{{form2.sobrenome.label}}:<br/> {{form2.sobrenome}}​
				{{form2.cpfCnpj.label}}:<br/> {{form2.cpfCnpj}}​
				{{form.username.label}}:<br/> {{form.username}}​
				{{form2.email.label}}:<br> {{form2.email}}​
				{{form.password1.label}}: <br> {{form.password1}}​
				{{form.password2.label}}: <br> {{form.password2}}​
				<input type="submit" name="registro" class="login loginmodal-submit" value="Criar Conta">
			</form>
				</div>
			</form>
			<div class="login-help">
				<a href="#"> Registrar-se </a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content loginmodal-container">
			<h1>
				Faça login com sua conta
			</h1>
			<br>
			<form action="" method="POST">
				{% csrf_token %}
				<input type="text" name="user" placeholder="Username">
				<a href="#">Esqueci a senha</a>
				<input type="password" name="pass" placeholder="Password">
				<input type="submit" name="login" class="login loginmodal-submit" value="Login">
			</form>
			<div class="login-help">
				<a href="#" data-toggle="modal" data-target="#register-modal"> Registrar-se </a>
			</div>
		</div>
	</div>
</div>



{% endblock %}
