{% extends "base.html" %}
{% load static %}

{% block titulo %}
Login | {{ block.super }}
{% endblock %}

{% block conteudo %}
<section id="portfolio">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Autenticação</h3>
        <div class="section-title-divider"></div>
      </div>
      <div class="container">
        <div class="row">
          {% if form.errors %}
          <div class="col align-self-center alert alert-danger">
            <p> Usuário ou senha inválido. Tente novamente. </p>
          </div>
          {% endif %}

          {% if next %}
          <div class="col align-self-center alert alert-danger">
            {% if user.is_authenticated %}
            <p>Sua conta não tem permissão para acessar esta página. Realize o login com sua conta</p>
            {% else %}
            <p> Realize o login para acessar esta página.</p>
            {% endif %}
          </div>
          {% endif %}
          <div class="col-md-12" align="center">
            <div class=" card w-25" >
              <div class="card-body">
                <form action="{% url 'login' %}"  method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="id_username"><b>USUÁRIO</b></label>
                    <input type="text" class="form-control" name="username" required id="id_username"  placeholder="Digite o usuário">
                  </div>
                  <div class="form-group">
                    <label for="id_password"><b>SENHA</b/label>
                      <input type="password" class="form-control" name="password" required id="id_password"  placeholder="Digite a senha">
                    </div>
                    {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next}}"/>
                    {% endif %}
                    <button type="submit" class="btn btn-danger">Login</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock%}
