{% extends "base.html" %}
{% load static %}


{% block titulo %}
Resultado da Busca | {{ block.super }}
{% endblock %}


{% block conteudo %}



<div class="container">

	<br><h3><b><p> Resultado da Pesquisa para: </p></b></h3></br>
         <br>
          <form method="get" action="{% url 'resultadobuscar' %}">      
	    <b><p> Filtra por Nome: <input type="text" name="nomeget"/></p></b>
	 </br>

</div>	

{% for art in artes %}

<div class="container">
        <hr>
        <img class="img-responsive" src="{{art.imagem_principal.url}}" alt="" width="300" />
                <p><h1>{{art.descricao}}</h1></p>
                <a href=" {% url 'arte_detalhes' %}?id={{art.id}}" > Detalhes</a>
        </hr>
</div>


{% endfor %}

{% endblock %}