{% extends "base.html" %}
{% load static %}


{% block titulo %}
Resultado da Busca | {{ block.super }}
{% endblock %}


{% block conteudo %}


<div class="container">

    <br>
    <div class="col-md-3">


    </div>
</hr>
</hr>

</div> 
<section id="portfolio">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Resultado da Pesquisa para</h3>
                <div class="section-title-divider"></div>
                <form class="align-center">
                    <div class="form-row align-items-center" method="get" action="{% url 'resultadobuscar' %}">
                        <div class="col-auto">
                            <select  name="categoriaget" class="form-control"> 
                                <option selected>Escolha a categoria</option>
                                {% for cat in categoria %}
                                <option value="{{cat.id}}">{{cat.categoria}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-danger"><b>FILTRAR</b></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>

        <div class="row">
            {% for arte in artes %}
            <div class="col-md-3">
                <a class="portfolio-item" style="background-image: url({{arte.imagem_principal.url}});" href="{% url 'arte_detalhes' %}?id={{arte.id}}">
                    <div class="details">
                        <h4>{{arte.descricao}}</h4>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <ul class="pagination">
            {% for ar in artes.paginator.page_range %}
            {% if artes.number == ar %}​
            <li class="active"><span>{{ ar }}<span class="sr-only">(current)</span></span></li>
            {% else %} 
            <li><a href="?page={{ ar }}">{{ ar }}</a></li>
            {% endif %}
            {% endfor %}  
        </section> 


        {% endblock %}