{% extends "base.html" %}
{% load static%}

{% block titulo %}
Sobre | {{ block.super }}
{% endblock %}

{% block conteudo %}
<section id="testimonials">
	<div class="container wow fadeInUp">
		<div class="row">
			<div class="col-md-12">
				<h3 class="section-title">Conheça os desenvolvedores</h3>
				<div class="section-title-divider"></div>
				<p class="section-description">O site Quiosque Online só existe graças a esse equipe maravilhosa abaixo</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="profile">
					<div class="pic"><img src="{% static 'img/profile-1' %}" alt="Viadinho"></div>
					<h4>Anderson André</h4>
					<span>Estudante</span>
					<div class="social">
						<a href="https://www.facebook.com/andersonandre.guedesdelima" target="_blank"><i class="fab fa-facebook fa-lg" aria-hidden="true"></i></a>
						<a href="https://github.com/Anderson-Andre" target="_blank"><i class="fab fa-github-square fa-lg"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="quote">
					<b><img src="{% static 'img/quote_sign_left.png' %}" alt=""></b> <small><img src="{% static 'img/quote_sign_right.png' %}" alt=""></small>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-9">
				<div class="quote">
					<b><img src="{% static 'img/quote_sign_left.png' %}" alt="Profile Clev"></b> Eu só quero terminar o curso <small><img src="{% static 'img/quote_sign_right.png' %}" alt=""></small>
				</div>
			</div>
			<div class="col-md-3">
				<div class="profile">
					<div class="pic"><img src="{% static 'img/profile-2.jpg' %}" alt=""></div>
					<h4>Cleverton Bezerra</h4>
					<span>Estudante</span>
					<div class="social">
						<a href="https://www.facebook.com/clevinacio" target="_blank"><i class="fab fa-facebook fa-lg" aria-hidden="true"></i></a>
						<a href="https://github.com/Clevinacio" target="_blank"><i class="fab fa-github-square fa-lg"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="profile">
					<div class="pic"><img src="{% static 'img/profile-3.jpg' %}" alt="Profile GenPontes"></div>
					<h4>Genilson Pontes</h4>
					<span>Estudante</span>
					<div class="social">
						<a href="https://www.facebook.com/imgenpontes" target="_blank"><i class="fab fa-facebook fa-lg" aria-hidden="true"></i></a>
						<a href="https://github.com/genpontes" target="_blank"><i class="fab fa-github-square fa-lg"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="quote">
					<b><img src="{% static 'img/quote_sign_left.png' %}" alt=""></b> <small><img src="{% static 'img/quote_sign_right.png' %}" alt=""></small>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-9">
				<div class="quote">
					<b><img src="{% static 'img/quote_sign_left.png' %}" alt=""></b> Quem sabe morre <small><img src="{% static 'img/quote_sign_right.png' %}" alt=""></small>
				</div>
			</div>
			<div class="col-md-3">
				<div class="profile">
					<div class="pic"><img src="{% static 'img/profile-4.jpg' %}" alt="Profile Jorde"></div>
					<h4>Jordevá Lucas</h4>
					<span>Estudante de Luta</span>
					<div class="social">
						<a href="https://www.facebook.com/jordeva" target="_blank"><i class="fab fa-facebook fa-lg" aria-hidden="true"></i></a>
						<a href="https://github.com/jordelucas" target="_blank"><i class="fab fa-github-square fa-lg"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="profile">
					<div class="pic"><img src="{% static 'img/profile-5.jpg' %}" alt="Profiel Pam"></div>
					<h4>Pâmela Ribeiro</h4>
					<span>Estudante</span>
					<div class="social">
						<a href="https://www.facebook.com/pamela.c.ribeiro.7" target="_blank"><i class="fab fa-facebook fa-lg" aria-hidden="true"></i></a>
						<a href="https://github.com/PamelaRibeiro" target="_blank"><i class="fab fa-github-square fa-lg"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="quote">
					<b><img src="{% static 'img/quote_sign_left.png' %}" alt=""></b> <small><img src="{% static 'img/quote_sign_right.png' %}" alt=""></small>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-9">
				<div class="quote">
					<b><img src="{% static 'img/quote_sign_left.png' %}" alt=""></b> <small><img src="{% static 'img/quote_sign_right.png' %}" alt=""></small>
				</div>
			</div>
			<div class="col-md-3">
				<div class="profile">
					<div class="pic"><img src="{% static 'img/profile-6.jpg' %}" alt="Profile Thainá"></div>
					<h4>Thainá Padilha</h4>
					<span>Estudante</span>
					<div class="social">
						<a href="https://www.facebook.com/thaina.padilha.1" target="_blank"><i class="fab fa-facebook fa-lg" aria-hidden="true"></i></a>
						<a href="https://github.com/thainapc" target="_blank"><i class="fab fa-github-square fa-lg"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
