{% extends "base.html" %}
{% load static%}

{% block titulo %}
Sobre | {{ block.super }}
{% endblock %}

{% block conteudo %}
<section id="testimonials">
	<div class="container wow fadeInUp">
		<div class="row">
			<div class="col-md-12">
				<h3 class="section-title">Conheça os desenvolvedores</h3>
				<div class="section-title-divider"></div>
				<p class="section-description">O site Quiosque Online só existe graças a esse equipe maravilhosa abaixo</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="profile">
					<div class="pic"><img src="img/client-1.jpg" alt=""></div>
					<h4>Anderson André</h4>
					<span>Estudante</span>
					<div class="social">
						<a href=""><i class="fab fa-twitter" aria-hidden="true"></i></a>
						<a href=""><i class="fab fa-facebook" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-google-plus"></i></a>
						<a href=""><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="quote">
					<b><img src="img/quote_sign_left.png" alt=""></b> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. <small><img src="img/quote_sign_right.png" alt=""></small>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-9">
				<div class="quote">
					<b><img src="img/quote_sign_left.png" alt=""></b> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto beatae. <small><img src="img/quote_sign_right.png" alt=""></small>
				</div>
			</div>
			<div class="col-md-3">
				<div class="profile">
					<div class="pic"><img src="img/client-2.jpg" alt=""></div>
					<h4>Sara Wilsson</h4>
					<span>Odeo Inc</span>
				</div>
			</div>
		</div>

	</div>
</section>
{% endblock %}