{% extends "base.html" %}
{% load static %}

{% block titulo %}
Página de Usuário|{{ block.super}}
{% endblock %}

{% block conteudo %}
<section id="portfolio">
	<div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Página do Usuário</h3>
                <div class="section-title-divider"></div>
                <p class="section-description"></p>
            </div>
        </div>
        <div class="col-md-12" align="center">
            <div class="col-md-5" align="left">
            	<div class="card">
					<div class="card-body">
		                <div class="group">

		                	<div style="float: left;">
			                	<label class="col-form-label" for="formGroupExampleInput" desable><span>Nome</span></label><br>
			                    <label class="col-form-label" for="formGroupExampleInput" desable><h4>{{ user.first_name }} {{ user.last_name }}</h4></label>
		                	</div>		                	
		                	<div align="right" style="float: right;">
		                		<a href="{% url 'editdadospessoais' %}" class="btn btn-danger" role="button" aria-pressed="true"><i class="fas fa-pencil-alt"></i></a>
		                	</div>
		                </div>
		                <div class="group" style="clear:both;">
		                	<hr>
		                    <label class="col-form-label" for="formGroupExampleInput" desable><span>Email</span></label><br>
		                    <label class="col-form-label" for="formGroupExampleInput" desable><h4>{{ user.email }}</h4></label>
		                    <hr>
		                </div>
		                <div class="group">
		                    <label class="col-form-label" for="formGroupExampleInput" desable><span>Username</span></label><br>
		                    <label class="col-form-label" for="formGroupExampleInput" desable><h4>{{ user }}</h4></label>
		                    <hr>
		                </div> 
		                <div class="group">
		                    <label class="col-form-label" for="formGroupExampleInput" desable><span>CPF</span></label><br>
		                    <label class="col-form-label" for="formGroupExampleInput" desable><h4>{{ usuario.cpfCnpj }}</h4></label>
		                    <hr>
		                </div>  
		                <div class="group">
		                    <label class="col-form-label" for="formGroupExampleInput" desable><span>Senha</span></label><br>
		                    <label class="col-form-label" for="formGroupExampleInput" desable><h4>**************</h4></label>
		                </div>
		            </div>
		        </div>
            </div>
		</div>
	</div>
</section>
{% endblock %}
